.paginator {
    align-items: center;
    display: flex;
  
    // Until implement
    filter: opacity(0.5);
    font-size: 15px;
    gap: 1rem;
    justify-content: center;
  
    button {
      background: transparent;
      border: none;
      cursor: pointer;
      font-size: 0.75rem;
    }
  }
  
  .pages {
    align-items: center;
    display: flex;
    gap: 0.625rem;
    justify-content: center;
  
    span {
      cursor: pointer;
      font-size: 17px;
      font-weight: 400;
      line-height: 20.4px;
      position: relative;
      text-align: center;
      width: 10px;
    }
  }
  
  .active-page {
    background-color: #00AEC7;
    height: 3px;
    left: 0px;
    position: absolute;
    width: 14px;
  }
  
  .bold-text {
    font-weight: 600 !important;
  }
  
  .hide-button {
    visibility: hidden;
  
  }
  
  